.wrapStartMessages {
    margin: 10px;
    // outline: 1px solid red;
    .wrapBlockOfNoPosts {
        // outline: 1px solid red;
        min-height: 58vh;
        display: flex;
        justify-content: center; /* Центрируем контент по горизонтали */
        align-items: center; /* Центрируем контент по вертикали */
        .blockOfNoPosts {
            text-align: center; /* Выравниваем текст заголовков по центру */
            border: 2px dashed #8a8a8a;
            padding: 15px;
            opacity: 0.5;
            h1 {
                color: #D55612;
            }
            h2 {
                color: #5B5B5B;
            }
        }
    }
}