.DetailedQuestionnaire {
    min-width: 400px;
    max-width: 600px;
    min-height: 60vh;
    max-height: 70vh;
    h2 {
        margin-bottom: 20px;
        text-align: center;
        color: var(--dark-theme-text-color);
    }
    .wrapName,
    .warapSurname,
    .wrapILiveIn,
    .wrapOriginallyFrom,
    .wrapStatus,
    .wrapGenderSelect,
    .wrapImWorkingIn,
    .wrapLookingForAJob,
    .wrapLookingForAJobDescription,
    .wrapAboutMe,
    .wrapContacts {
        display: flex;
        justify-content: space-between;
        h6 {
            width: 100%;
            margin-bottom: 10px;
        }
        strong {
            width: 100%;
            margin-bottom: 10px;
            // border: 1px solid red;
            text-align: left;
            color: var(--dark-theme-text-color);
        }
    }
}