.wrapFriendsWidget.light {
    display: inline-block;
    width: 30%;
    margin: 3px;

    // border: 1px solid black;
    // border-radius: 8px;
    .friendItem {
        width: 100%;
        // height: 80px;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        .miniAvatarFriend {
            margin: 0 auto;
            width: 100%;
            height: auto;
            border-radius: 100%;
        }
        .blockNameFriendItemWidget {
            // border: 1px solid green;
            p {
                margin-top: 10px;
                font-size: 13px;
                line-height: 12px;
                color: var(--light-theme-text-color);

                /* Запрещаем перенос слов на новую строку */
                white-space: nowrap;
                /* Обрезаем текст, который не помещается в блок */
                overflow: hidden;
                /* Добавляем эффект, когда текст обрезается */
                text-overflow: ellipsis; /* Добавляет многоточие (...) в конце обрезанного текста */
            }
        }
    }
}

.wrapFriendsWidget.dark {
    display: inline-block;
    width: 30%;
    margin: 3px;

    // border: 1px solid black;
    // border-radius: 8px;
    .friendItem {
        width: 100%;
        // height: 80px;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        .miniAvatarFriend {
            margin: 0 auto;
            width: 100%;
            height: auto;
            border-radius: 100%;
        }
        .blockNameFriendItemWidget {
            // border: 1px solid green;
            p {
                margin-top: 10px;
                font-size: 13px;
                line-height: 12px;
                color: var(--dark-theme-text-color);

                /* Запрещаем перенос слов на новую строку */
                white-space: nowrap;
                /* Обрезаем текст, который не помещается в блок */
                overflow: hidden;
                /* Добавляем эффект, когда текст обрезается */
                text-overflow: ellipsis; /* Добавляет многоточие (...) в конце обрезанного текста */
            }
        }
    }
}