.wrapContentAuth.light {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    h1 {
        margin-top: 15px;
        text-align: center;
    }
    .contentAuth {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--light-theme-text-color);
    }
}
.wrapContentAuth.dark {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    h1 {
        margin-top: 15px;
        text-align: center;
    }
    .contentAuth {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        // border: 1px solid var(--dark-theme-text-color);
    }
}
.wrapFooterSectionsForAuth.light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--light-footer-text-color);
        }
    }
}
.wrapFooterSectionsForAuth.dark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--dark-theme-text-color);
        }
    }
}
.wrapFooterSectionsForAuth.off {
    display: none;
}