@import '../../../../../services/host/src/variables.scss';

.wrapper_nav.light {
	position: relative;
	margin: 27px auto 0;
	padding: 0;
	width: 100%;
    height: 35px;
	border-top: 1px solid #717171;   
    box-shadow: 0 0 10px -1px black;
	border-bottom: 2px solid #000000;
	z-index: 9999;
	.top_menu {
		height: 35px;
		border-top: 1px solid #404040;
		box-shadow: 
		inset 0px -3px 3px rgba(48, 48, 48, 0.9), /* Внутренняя тень сверху */
		inset 0px 2px 3px rgba(48, 48, 48, 0.9); /* Внутренняя тень снизу */
		background: var(--light-top-menu-background-color-chrome); /* Для браузеров, поддерживающих -webkit-gradient() */
		background: var(--light-top-menu-background-color); /* Для браузеров, не поддерживающих -webkit-gradient() */

		// box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
		// box-shadow: 0 0 10px 1px black;


		border-bottom: 1px solid #000000;
		z-index: 9999;
		.content_top_menu {
			display: flex;
			justify-content: space-between;
			padding: 0;
		}
	}
}
.wrapper_nav.dark {
	position: relative;
	margin: 28px auto 0;
	padding: 0;
	width: 100%;
	height: 35px;
	border-top: 1px solid #717171;   
    box-shadow: 0 0 10px -1px black;
	border-bottom: 2px solid #000000;
	z-index: 9999;
	.top_menu {
		padding: 0;
		width: 100%;
		height: 35px;
		border-top: 1px solid #404040;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.03, #252525), color-stop(1.5, #080808) ); /*ДЛЯ ХРОМА*/
		box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
		box-shadow: 0 0 10px 1px black;
		border-bottom: 2px solid #000000;
		z-index: 9999;
		.content_top_menu {
			display: flex;
			justify-content: space-between;
			padding: 0;
			
		}
	}
}
