.wrapItemDevice {
    width: 100%;
    min-width: 200px;
    max-width: 347px;
    margin: 5px;
    border: 1px solid #9c9797;
    border-radius: 8px;
    padding-top: 3px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    .wrapNavItemContent {

        .wrapItemNavDevice {
            display: flex;
            justify-content: space-between;
            .addedDisabled {
                display: none;
            }
            .addedEnabled {
                padding: 7px 0 0 10px;
                strong {
                    margin-right: 10px;
                }
            }
            .wrapItemNav {
                width: 50px;
                height: 30px;
                margin: 0 0 0 auto;
                svg {
                    margin: 7px 0 0 25px;
                }
            }
            .navDeviceItemDisabled {
                display: none;
            }
            .navDeviceItemEnabled {
                display: block;
                position: absolute;
                width: 200px;
                height: auto;
                margin: 30px 0 0 148px;
                background-color: #282828;
                border: 1px solid black;
                border-radius: 0px 0px 0px 8px;
                list-style: none;
                z-index: 8888;
                min-width: max-content;
                div {
                    display: block;
                    padding: 8px 5px;
                    font-size: 16px;
                    cursor: pointer;
                    span {
                        margin-right: 5px;
                    }
                    .loadingDisabled {
                        display: none;
                    }
                    .loadingEnabled {
                        color: greenyellow;
                    }
                }
                div:hover {
                    background-color: #484848;
                }
            }
        }
    }
    .itemDevice {
        width: 100%;
        min-width: 200px;
        max-width: 350px;
        .wrapImgDevice {
            margin-top: 3px;
            img {
                width: 100%;
                height: 200px;
            }
        }
        .wrapItemDescription {
            padding: 5px 5px 0 5px;
            .nameDeviceItem{
                font-size: 16px;
                margin-bottom: 5px;
            }
            .ratingDeviceItem {
                margin-bottom: 5px;
                strong {
                    margin-right: 5px;
                }
            }
            .priceDeviceItem {
                margin-bottom: 5px;
                strong {
                    margin-right: 5px;
                }
            }
        }
    }
    .wrapWarningBlock {
        padding: 10px;
        border: 1px solid black;
        border-radius: 8px;
        .WarningBlock {
            h1 {
                margin-bottom: 10px;
                color: red;
                text-align: center;
            }
            h2 {
                color: #FFAC00;
                text-align: center;
            }
            .buttonBlock {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 10px;
                button {
                    width: 20%;
                    color: #e2e2e2;
                    background-color: #282828;
                }
            }
        }
    }
}
.itemDevice:hover {
    color: black;
    background-color: rgb(6, 106, 236);
    font-weight: 900;
}