.avatar.light {
    .wrapAvatarBlock {
        .shahta_avatars {
            width: 100%;
            margin-bottom: 5px;
            padding: 6px;
            border: 1px solid black;
            border-radius: 8px;
            background: var(--light-Avatar-sahta-background);
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
            .podium_avatars {
                width: 100;
                // background-color: var(--light-Avatar-sahta-background);
                border-top: 1px solid #383838;
                border-left: 1px solid #383838;
                border-right: 1px solid #404040;
                border-bottom: 1px solid #000;
                border-radius: 8px;

                -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;

                box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
                box-shadow: -1px -1px 1px 1px #050505, 1px 1px 1px 1px #050505;
                .wrapAvatar{
                    .avatarImage {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
                .wrapAvatar:hover {
                    .wrapEditBlockAvatar {
                        position: relative;
                        display: block;
                        border-radius: 8px bottom left;
                        border-radius: 8px bottom right;
                        margin-top: -40px;
                        padding: 15px 3px 15px 7px;
                        width: 100%;
                        height: 40px;
                        background-color: rgba(0,0,0,0.7);
                        animation: fadeIn 1.0s ease forwards;

                        .editBlockAvatar {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            color: #7F7F7F;
                            cursor: pointer;
                            .editTheAvatar {
                                display: block;
                                margin-left: auto;
                                margin-top: -5px;
                                width: 20px;
                                height: 20px;
                            }
                            .cameraEditAvatar {
                                display: block;
                            }
                            .textUploadAvetar {
                                display: block;
                                margin-left: auto;
                            }
                        }
                    }
                    @keyframes fadeIn {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        
        }
    }
}

.avatar.dark {
    .wrapAvatarBlock {
        .shahta_avatars {
            width: 100%;
            margin-bottom: 5px;
            padding: 6px;
            background-color: #413f3f;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            background-color: #292929;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
            .podium_avatars {
                width: 100;
                background-color: rgba(35, 35, 35, 0.9);
                border-top: 1px solid #383838;
                border-left: 1px solid #383838;
                border-right: 1px solid #404040;
                border-bottom: 1px solid #000;
                border-radius: 8px;
                -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
                box-shadow: -1px -1px 1px 1px #050505, 1px 1px 1px 1px #050505;
                .wrapAvatar{
                    .avatarImage {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
                .wrapAvatar:hover {
                    .wrapEditBlockAvatar {
                        position: relative;
                        display: block;
                        border-radius: 8px bottom left;
                        border-radius: 8px bottom right;
                        margin-top: -40px;
                        padding: 15px 3px 15px 7px;
                        width: 100%;
                        height: 40px;
                        background-color: rgba(0,0,0,0.7);
                        animation: fadeIn 1.0s ease forwards;

                        .editBlockAvatar {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            color: #7F7F7F;
                            cursor: pointer;
                            .editTheAvatar {
                                display: block;
                                margin-left: auto;
                                margin-top: -5px;
                                width: 20px;
                                height: 20px;
                            }
                            .cameraEditAvatar {
                                display: block;
                            }
                            .textUploadAvetar {
                                display: block;
                                margin-left: auto;
                            }
                        }
                    }
                    @keyframes fadeIn {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.wrapUploadAvatar {
    max-width: 600px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    h3 {
        margin: 20px 0;
        text-align: center;
    }
    .wrapAvatar {
        max-width: 200px;
        max-height: 200px;
        margin-bottom: auto;
    }
    .uploadBlockCropperAvatar {
        // border: 1px solid black;
        border-radius: 8px;
        width: 200px;
        height: 200px;
    }
    .uploadBlock {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        max-height: 300px;
        .trim {
            width: 100%;
        }
    }
}

.editTheAvatar {
    display: none;
}
.cameraEditAvatar {
    display: none;
}
.textUploadAvetar {
    display: none;
}	
