.row {
    display: flex;
    flex-direction: column;
    min-width: 72vh;
    max-width: 80vh;
    min-height: 30vh;
    height: 100%;
    max-height: 100%;
    border-radius: 8px;
    color: wheat;

    .headerBlockUpdateMsgModal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 30px;
        border-radius: 8px;
        text-align: center;

        .title {
            width: 90%;
            margin: 0 10px;
            color: #FEA930;
            font-size: 18px;
            text-align: center;
        }

        .topIconWrapper {
            width: 10%;
            display: block;
            margin-left: auto;
            width: 30px;
            font-size: 22px;
            cursor: pointer;

            .topIcon {
                margin: 0 3px;
                transition: opacity 0.2s ease;
            }

            .topIconNormal {
                display: inline-block;
            }

            .topIconHover {
                display: none;
            }

            &:hover {
                .topIconNormal {
                    display: none;
                }

                .topIconHover {
                    color: #FEA930;
                    display: inline-block;
                }
            }
        }
    }

    .wrapCentrBlockInputAddMessage {
        display: flex;
        flex: 1;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid rgb(68, 68, 68);
    }

    .futerBlockUpdateMsgModal {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        min-height: 30px;
        border-radius: 8px;
        text-align: center;

        .leftBlock {
            display: block;
            border-radius: 8px;
            width: 30%;
            padding-top: 7px;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid rgb(68, 68, 68);
            background-color: #282828;
            cursor: pointer;
        }

        .centerBlock {
            display: block;
            border-radius: 8px;
            width: 30%;
            font-size: 28px;

            .iconWrapper {
                display: block;
                margin: 0 auto;
                width: 30px;
                cursor: pointer;

                .icon {
                    margin: 0 3px;
                    transition: opacity 0.2s ease;
                }

                .iconNormal {
                    display: inline-block;
                }

                .iconHover {
                    display: none;
                }

                &:hover {
                    .iconNormal {
                        display: none;
                    }

                    .iconHover {
                        color: #FEA930;
                        display: inline-block;
                    }
                }
            }
        }

        .rightBlock {
            display: block;
            border-radius: 8px;
            width: 30%;
            padding-top: 7px;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid rgb(68, 68, 68);
            background-color: #282828;
            cursor: pointer;
        }

        .leftBlock:hover,
        .rightBlock:hover {
            background-color: #454545;
            border: 1px solid rgb(24, 24, 24);
            color: #FEA930;
        }
    }
}