@import '../../../../../services/host/src/variables.scss';

.LshadowSidebar.off {
	display: none;
}

.LshadowSidebar.light {
	width: 100%;
	display: flex; /* или grid — важно, чтоб растягивалось */
	flex-direction: column; /* если вертикальный layout */
	min-height: calc(99.7vh - 120px);
	max-height: 100%;
	margin-right: 1px;
	border-top: 1px solid #000;
	background-color: rgba(40, 40, 40, 0.9);

	// -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
	// -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
	// box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
	// border-bottom: 1px solid #000;
	// border-right: 1px solid #000;
	.L_wrapper_Sidebar {
		padding: 25px;
		width: 100%;
		flex: 1;
		border-top: 1px solid #4D4D4D;
		border-left: 1px solid #000;
		border-bottom: 2px solid #000;
		background: var(--light-RSidebar-background);
		box-shadow: 0px 0px 5px 1px black;
	}

	.L_wrapper_Sidebar.off {
		display: none;
	}
}

.LshadowSidebar.dark {
	width: 100%;
	display: flex; /* или grid — важно, чтоб растягивалось */
	flex-direction: column; /* если вертикальный layout */
	flex: 1;
	min-height: 0;
	// max-width: 350px;
	// min-height: calc(99.7vh - 120px);
	// max-height: 100%;
	margin-right: 1px;
	border-top: 1px solid #000;
	background-color: rgba(40, 40, 40, 0.9);

	// -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
	// -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
	// box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
	// border-bottom: 1px solid #000;
	// border-right: 1px solid #000;
	.L_wrapper_Sidebar {
		padding: 25px;
		width: 100%;
		flex: 1;
		min-height: 0;
		border-top: 1px solid #4D4D4D;
		border-left: 1px solid #000;
		border-bottom: 2px solid #000;
		background: var(--dark-RSidebar-background-image);
		box-shadow: 0px 2px 5px 1px black;
	}

	.L_wrapper_Sidebar.off {
		display: none;
	}
}