.wrapShopContent.light {
    // width: 100%;
    padding: 10px;
    background-color: var(--light-AppContent-background);
    border: 1px solid black;
    .adminContent {
        border: 1px solid black;
        min-height: 85vh;
    }
    .title {
        margin-top: 10px;
        color: var(--light-theme-text-color);
        font-weight: 900;
        text-align: center;
    }
}
.wrapTopNawShop {
    width: 200%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 100%;
    // border: 1px solid red;
    .leftBlockTopNavNoAuthorization {
        margin-left: 40px;
    }
    h1 {
        display: block;
        margin-top: -2px;
        color: #FFAC00;
        width: 100%;
    }
    .basketImg {
        margin: 2px 10px 0 auto;
    }
}
.contentShop.dark {
    width: 100%;
    border-right: 1px solid black;
    .headerShop {
        margin: 0px;
        padding: 10px;
        .wrapTitleHeaderShop {
            display: flex;
            justify-content: space-between;
        }
        .brandBar {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none;    /* Firefox */
            -ms-user-select: none;     /* Internet Explorer/Edge */
            user-select: none;         /* Standard syntax */
            li {
                display: inline-block;
                margin-left: 5px;
                padding: 6px;
                list-style: disc;
                cursor: pointer;
            }
            li:hover {
                background-color: #555555;
                padding: 6px;
                border-radius: 0 8px 8px 0;
            }
            .activeBrand {
                color: #FFAC00;
                background-color: #202020;
                border: 1px solid #101010;
                padding: 6px;
                border-radius: 0 8px 8px 0;
            }
        }
    }
    h2 {
        margin: 0 20px 10px;
        // border: 1px solid red;
        text-align: left;
    }
    .noShop {
        // width: 100%;
        height: 100vh;
        .wrapBlockOfNoShops {
            height: 52vh;
            display: flex;
            justify-content: center; /* Центрируем контент по горизонтали */
            align-items: center; /* Центрируем контент по вертикали */
            .blockOfNoShops {
                text-align: center; /* Выравниваем текст заголовков по центру */
                border: 2px dashed #8a8a8a;
                padding: 15px;
                opacity: 0.5;
                h1 {
                    color: #D55612;
                }
                h2 {
                    color: #929292;
                }
                span {
                    color: #D55612;
                    cursor: pointer;
                }
            }
        }
    }
}
.wrap_product_name {
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid #101010;
    border-radius: 8px;
    height: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    h4 {
        margin-bottom: 1px;
        padding: 6px;
        height: 30px;
        text-align: center;
        border: 1px solid #101010;
        border-radius: 8px;
        color: #FFAC00;
        font-size: 15px;
        font-weight: 900;
    }
    .type_product {
        padding: 13px 13px 0 13px;
        border: 1px solid black;
        border-radius: 8px;
        min-height: 200px;
        li {
            margin-bottom: 1px;
            list-style: disc;
            padding: 6px 6px 6px 0px;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
        }
        li:hover {
            background-color: #555555;
        }
    }

    .activeAllDevices {
        color: #FFAC00;
        background-color: #202020;
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
    .activeType {
        color: #FFAC00;
        background-color: #202020;
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
}
