.companion {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #282828;

    // outline: 1px solid rgb(255, 251, 0);
    .linkBase {
        display: block;
        width: 100%;
        color: inherit;
        border: 1px solid #282828;
        border-radius: 8px;

        // outline: 1px solid red;
        .companionItem {
            display: flex;
            width: 100%;
            text-align: left;
            // background-color: #282828;
            border-radius: 8px;
            // outline: 1px solid red;

            .wrapDescription {
                display: block;
                min-width: 0;
                width: 100%;

                .topRow {
                    display: flex;
                    height: 50%;
                    min-width: 0;
                    max-width: 100%;
                    // outline: 1px solid rgb(32, 180, 2);

                    .leftBlock {
                        margin-top: 10px;
                        min-width: 0%;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 15px;

                        .userName {
                            margin: 7px 5px;
                        }

                        .userSurname {
                            margin: 7px 5px 7px 0px;
                        }
                    }

                    .rightBlock {
                        margin-top: 10px;
                        margin-left: auto;
                        min-width: 0%;
                        max-width: 100%;
                        font-size: 15px;

                        // outline: 1px solid red;
                        .deliveryDate {
                            display: inline-block;
                            min-width: 0%;
                            max-width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 0 auto;
                        }
                    }

                    .wrapIconBlock {
                        margin: 10px 7px auto auto;
                        min-width: 0%;
                        max-width: 7%;

                        .svg {
                            margin: 0px 5px 0px 0px;
                            // outline: 1px solid red;
                        }

                        .delivered {
                            margin: 2px 5px 0px 0px;
                            color: var(--dark-theme-text-color);
                            font-size: 14px;
                        }

                        .statusIcon {
                            margin: 2px 5px 0px 0px;
                            // outline: 1px solid red;
                            font-size: 14px;
                            color: #4caf50;
                        }
                    }
                }

                .wrapTitle {
                    display: block;
                    min-width: 0;
                    max-width: 100%;

                    .title {
                        display: block;
                        min-width: 0;
                        max-width: 100%;
                        margin: 7px 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 0.9rem;
                        color: gray;
                        // outline: 1px solid red;
                    }
                }
            }

            .miniAvatarMsg {
                margin: 5px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }
        }
    }

    .active {
        color: #FFAC00;
        background-color: #353535;
        border: 1px solid #151515;
        border-radius: 8px;
    }

    .active:hover {
        background-color: #353535;
    }
}

.companion:hover {
    background-color: #353535;
    // border: 1px solid #151515;
    border-radius: 8px;
}