.wrapFooterSectionsForSettingProfile.light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--light-footer-text-color);
        }
    }
}
.wrapFooterSectionsForSettingProfile.dark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--dark-theme-text-color);
        }
    }
}
