@import '../../host/src/mixins.scss';
@import '../../host/src/variables.scss';

.shopContent.light {
    width: 100%;
    padding: 10px;
    background-color: var(--light-AppContent-background);
    border: 1px solid black;
    .adminContent {
        border: 1px solid black;
        min-height: 85vh;
    }
    .title {
        margin-top: 10px;
        color: var(--light-theme-text-color);
        font-weight: 900;
        text-align: center;
    }
}
.shopContent.dark {
    width: 100%;
    border: 1px solid black;
    min-height: 85vh;
    h1 {
        margin-bottom: 10px;
    }
    .wrapItemShop {
        margin-bottom: 3px;
        padding: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        cursor: pointer;
        h2 {
            margin-bottom: 10px;
            color: #FFAC00;
            text-align: center;
        }
        h3 {
            text-align: center;
            margin-bottom: 10px;
        }
        .blockType {
            .blockLi {
                display: flex;
                li {
                    margin-right: 13px;
                }
            }
            h4 {
                color: #ff7300;
                margin-bottom: 10px;
            }
            li {
                margin-bottom: 5px;
            }
        }
        a {
            color: #e2e2e2;
        }
    }
    .wrapItemShop:hover {
        background-color: #484848;
    }
}
.wrapTopNawShop.light {
    width: 200%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 100%;
    // border: 1px solid red;
    .leftBlockTopNavNoAuthorization {
        margin-left: 40px;
    }
    h1 {
        display: block;
        margin-top: -2px;
        color: #FFAC00;
        width: 100%;
    }
    .basketImg {
        // border: 1px solid red;
        margin: -3px 10px 0 auto;
    }
}
.wrapTopNawShop.dark {
    width: 200%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 100%;
    // border: 1px solid red;
    .leftBlockTopNavNoAuthorization {
        margin-left: 40px;
    }
    h1 {
        display: block;
        margin-top: -2px;
        color: #FFAC00;
        width: 100%;
    }
    .basketImg {
        // border: 1px solid red;
        margin: -3px 10px 0 auto;
    }
}
.wrap_product_name.light {
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid #101010;
    border-radius: 8px;
    height: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    h4 {
        margin-bottom: 1px;
        padding: 6px;
        height: 30px;
        text-align: center;
        border: 1px solid #101010;
        border-radius: 8px;
        color: #FFAC00;
        font-size: 15px;
        font-weight: 900;
    }
    .type_product {
        padding: 13px 13px 0 13px;
        border: 1px solid black;
        border-radius: 8px;
        min-height: 200px;
        li {
            margin-bottom: 1px;
            list-style: disc;
            padding: 6px 6px 6px 0px;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
        }
        li:hover {
            background-color: #555555;
        }
    }
    .activeAllShops {
        color: #FFAC00;
        background-color: var(--light-AppContent-background);
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
    .activeShopType {
        color: #FFAC00;
        background-color: var(--light-AppContent-background);
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
}
.wrap_product_name.dark {
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid #101010;
    border-radius: 8px;
    height: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    h4 {
        margin-bottom: 1px;
        padding: 6px;
        height: 30px;
        text-align: center;
        border: 1px solid #101010;
        border-radius: 8px;
        color: #FFAC00;
        font-size: 15px;
        font-weight: 900;
    }
    .type_product {
        padding: 13px 13px 0 13px;
        border: 1px solid black;
        border-radius: 8px;
        min-height: 200px;
        li {
            margin-bottom: 1px;
            list-style: disc;
            padding: 6px 6px 6px 0px;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
        }
        li:hover {
            background-color: #555555;
        }
    }
    .activeAllShops {
        color: #FFAC00;
        background-color: var(--dark-AppContent-background);
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
    .activeShopType {
        color: #FFAC00;
        background-color: var(--dark-AppContent-background);
        border: 1px solid #101010;
        padding: 6px;
        border-radius: 0 8px 8px 0;
        font-weight: 900;
    }
}
.wrapFooterSectionsForShopsList.light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--light-footer-text-color);
        }
    }
}
.wrapFooterSectionsForShopsList.dark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--dark-theme-text-color);
        }
    }
}
