.wrapContentSettingsMyProfile {
    width: 100%;
    height: 100%;
    margin-top: 3px;
    padding: 10px;
    // outline: 1px solid red;
    .contentSettingsMyProfile {
        padding: 10px;
        border: 1px solid black;
        min-height: 80vh;
        width: 100%;
        h1 {
            color: wheat;
            margin: 0;
            // border: 1px solid black;
        }
        .deleteProfile {
            width: 100%;
            min-height: 40vh;
            margin-top: 10px;
            // border: 1px solid black;
            .title {
                width: 100%;
                border-bottom: 1px dotted wheat;
                margin-bottom: 10px;
                h2 {
                    color: wheat;
                    margin-bottom: 5px;
                }
            }
            .body {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px dotted wheat;
                padding-bottom: 10px;
                strong {
                    height: 30px;
                    // border: 1px solid black;
                    padding-top: 6px;
                    font-size: 16px;
                    color: wheat;
                }
                button {
                    width: 50%;
                    height: 30px;
                    border-radius: 8px;
                    background-color: #282828;
                    color: red;
                }
            }
        }
    }
}
