.wrapLeftAdminNav {
    min-width: 150px;
    padding: 1px;
    border: 1px solid #101010;
    border-radius: 8px;
    width: 100%;
    height: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    .title_nav {
        h3{
            display: block;
            padding: 6px;
            border: 1px solid #101010;
            border-radius: 8px;
            color: #FFAC00;
            font-size: 15px;
            font-weight: 900;
            text-align: center;
        }
    }
    .ul {
        display: block;
        margin-top: 1px;
        padding: 6px;
        border: 1px solid black;
        border-radius: 8px;
        min-height: 200px;
        li{
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 900;
        }
    }
}
.wrapAdminContent.light {
    width: 100%;
    padding: 10px;
    background-color: var(--light-AppContent-background);
    border: 1px solid black;
    .adminContent {
        border: 1px solid black;
        min-height: 85vh;
    }
    .title {
        margin-top: 10px;
        color: var(--light-theme-text-color);
        font-weight: 900;
        text-align: center;
    }
}
.wrapAdminContent.dark {
    width: 100%;
    padding: 10px;
    background-color: #282828;
    border: 1px solid black;
    .adminContent {
        border: 1px solid black;
        min-height: 85vh;
    }
    .title {
        margin-top: 10px;
        color: var(--dark-theme-text-color);
        font-weight: 900;
        text-align: center;
    }
    .content {
        width: 100%;
        height: 87vh;
        margin-top: 10px;
        padding: 10px;
        border-top: 1px solid black;

        .wrapAdminShop {
            width: 100%;
            .addTypeShopBlock {
                display: flex;
                justify-content: space-between;
                .addFormTypeShopInput {
                    width: 50%;
                    margin-right: 5px;
                }
                button {
                    width: 50%;
                    margin-left: 5px;
                }
            }
        }




        .wrapCreateUsersBlock {
            display: flex;
            margin-bottom: 10px;
            .leftBlock {
                width: 50%;
                display: flex;
                justify-content: space-between;
                h2 {
                    display: inline;
                    width: 85%;
                    margin-bottom: 10px;
                }
                .inputUserCount {
                    margin-left: auto;
                    padding: 5px;
                    width: 15%;
                    margin-bottom: 10px;
                    background-color: #282828;
                    color: #E2E2E2;
                    border: 1px solid rgb(87, 87, 87);
                    border-radius: 8px;
                }
            }
            .rightBlock {
                width: 50%;
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                margin-top: 5px;
                h3 {
                    width: 94%;
                }
                .wrapIcon {
                    margin-left: auto;
                    width: 6%;
                    .iconGreenCompleted {
                        margin: 0 0 12px 10px;
                        color: rgb(0, 255, 0);
                    }
                    .iconLoading {
                        margin: 0 0 12px 10px;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
        .messageBottomBlock {
            color: rgb(0, 255, 0);
            margin-bottom: 10px;
            h3 {
                text-align: center;
                .iconGreenCompleted {
                    margin-left: 5px;
                }
            }
        }
        button {
            display: block;
            width: 50%;
            margin-left: auto;
            padding: 5px;
            background-color: #282828;
            color: #E2E2E2;
            border-radius: 8px;
        }
        .wrapDeleteUsersBlock {
            display: flex;
            margin: 10px 0;
            padding: 10px 1px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .wrapPreloader {
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
    }
}
