@import '../../../host/src/mixins.scss';
@import '../../../host/src/variables.scss';

.wrapFooterSectionsForUserProfile.light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--light-footer-text-color);
        }
    }
}
.wrapFooterSectionsForUserProfile.dark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--dark-theme-text-color);
        }
    }
}
.wrapContentProfiles {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    .contentProfiles {
        width: 100%;
        // padding: 10px;
        height: 100%;
        border: 1px solid black;
        h1 {
            margin-bottom: 10px;
        }
        .wrapWidgetFriendsProfile, 
        .wrapWidgetPeopleProfile {
            margin-top: 15px;
        }
    }
}