@import '../../../host/src/mixins.scss';

.wrapInput {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    max-height: 120px;
}


.input {
    display: block;
    width: 95%;
    resize: none;
    box-sizing: border-box;
    margin: 0px 0 0 5px;
    padding-top: 20px;
    background-color: #282828;
    outline: none;
    color: wheat;
    font-size: 15px;
    overflow-y: auto;
    @include custom-scrollbar();
    border: none;
    // border: 1px solid red;
}

