.blockCropper {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden; /* скрывает изображение, выходящее за границы блока */
    position: relative; /* добавляем позиционирование для вложенного изображения */
}
.avatarImage {
    max-width: 100%; /* максимальная ширина изображения равна ширине блока */
    max-height: 100%; /* максимальная высота изображения равна высоте блока */
    display: block; /* изображение блочным элементом */
}