@import '../../../host/src/mixins.scss';
@import '../../../host/src/variables.scss';

.wrapPlayerTopNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 35px;
    .leftBlockTopNavMusic {
        // border: 1px solid red;
        width: 60%;
        height: 32px;
    }
    .rightBlockTopNavMusic {
        // border: 1px solid red;
        width: 60%;
        height: 32px;
    }
}
.wrapFooterSectionsForMusic.light {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--light-footer-text-color);
        }
    }
}
.wrapFooterSectionsForMusic.dark {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer_sections {
        margin: 8px;
        width: 100%;
        height: 297px;
        border-radius: 8px; 
        border: 1px solid #000;
        p {
            margin-top: 15px;
            text-align: center;
            color: var(--dark-theme-text-color);
        }
    }
}
.wrapFooterSectionsForMusic.off {
    display: none;
}
.wrapContentPlaylist {
    width: 100%;
    position: relative;
    .wrapPlaylist {
        margin: 5px 0 0;
        height: 560px;
        ::placeholder {
            color: aqua;
        }
        .searchMusic {
            padding: 2px 0 0 5px;
            width: 100%;
            height: 30px;
            border: 1px solid #C1C1C1;
            background: #282828;
            color: #e2e2e2;
            font-size: 16px;
            text-shadow: -2px -1px 1px #000000;
            text-align: center;
        }
        .searchMusic:focus {
            border: 1px solid color(srgb 0 255 255);
            box-shadow: inset 0 0 7px rgba(00, 00, 00, 0.95);
            background-color: #292929;
            box-shadow: 0px 0px 0px rgba(000, 000, 000, 0.09), inset -3px -3px 1px rgba(10, 10, 10, 0.75), inset 3px 3px 3px rgba(0, 0, 0, 0.75);
            outline: 0;
        }
        .playlist {
            overflow-y: scroll;
            overflow-x: hidden; 
            height: 530px;
            @include custom-scrollbar();
        }

    }
    .blockUploadButtonTrack {
        position: relative;
        justify-content: right;
        color: aqua;
        top: 0px;
        display: flex;
        border: 1px solid black;
        cursor: pointer;
    }
    .blockUploadButtonTrack:hover {
        background-color: #363636;
    }
    h3 {
        margin: 12px;
        padding-left: 20px;
        width: 100%;
        text-align: center;
        .uploadTrackIcan {
            margin-left: 20px;
        }
    }
}
.trackUploadModal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: 0.8s;
    z-index: 9999;
    .trackUploadModal__content {
        margin-top: 150px;
        padding: 20px;
        border-radius: 8px;
        background: #353535;
        width: 50vh;
        height: 800px;
        transform: scale(0.8);
        transition: 0.4s all;
    }
}
.trackUploadModal.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}
.trackUploadModal__content.active {
    transform: scale(1);
}
.trackUploadBlockH1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h1 {
        margin: 5px auto;
        text-align: right;
    }
    // .closedIconUploadTracks {
    //     color: rgb(248, 4, 4);
    // }
}
.uploadTrackFilesBlock {
    min-height: 500px;
    padding: 10px;
    outline: auto;
    .selectUploadedImage {
        display: flex;
        strong {
            margin-right: 10px;
        }
    }
    .selectUploadedTrack {
        display: flex;
        strong {
            margin-right: 10px;
        }
    }
    .ok {
        color: rgb(1, 253, 1);
    }
}
.blockResultUpload {
    width: 100%;
    padding-top: 8px;
    color: rgb(1, 253, 1);
    height: 30px;
    h1 {
        text-align: center;
    }
    // .okUploadItem {
    //     border: 1px solid rgb(1, 253, 1);;
    // }
}
.blockUploadTrackModal {
    border-top: 1px dotted #e2e2e2;
    // .blockkUploadTrackModalInput{}
    .blockkUploadTrackModalButton {
        display: flex;
        padding-top: 3px;
        border-top: 1px dotted #e2e2e2;
        justify-content: space-between;
    }
}
.wrapTextItemComment, 
.wrapTextItemComment h2 {
    margin: 5px 0 0 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
}