.wrapProfileData.light {
    .name,
    .surname,
    .age,
    .country,
    .sity,
    .aboutMe,
    .contacts,
    .lookingForAJob,
    .lookingForAJobDescription,
    .familyStatus {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        text-align: left;
        h6 {
            width: 100%;
            color: #D55612;
            font-weight: 900;
            cursor: pointer;
        }
        strong {
            width: 100%;
            color: var(--light-theme-text-color);
            font-weight: 900;
            cursor: pointer;
        }
        .editStilus {
            position: relative;
            top: 0;
            left: 90%;
        }
    }
    .statusBlock h6 {
        display: inline-block;
    }
    .contacts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}
.wrapProfileData.dark {
    // border: 1px solid red;
    color: #D55612;
    z-index: 9999;

    .wrapName,
    .warapSurname,
    .wrapGenderSelect,
    .wrapILiveIn,
    .wrapOriginallyFrom,
    .wrapImWorkingIn,
    .wrapLookingForAJob,
    .wrapLookingForAJobDescription,
    .wrapAboutMe,
    .wrapStatus {
        display: flex;
        justify-content: space-between;
        text-align: left;
        h6 {
            display: inline;
            margin-bottom: 8px;
            width: 55%;
            font-weight: 900;
            cursor: pointer;
        }
        strong {
            // border: 1px solid red;
            display: inline;
            margin-left: auto;
            margin-bottom: 8px;
            width: 100%;
            color: var(--dark-theme-text-color);
            font-weight: 900;
            cursor: pointer;
        }
    }
    .wrapContacts {
        .contacts {
            display: flex;
            justify-content: space-between;
            color: var(--dark-theme-text-color);
            // text-align: left;
        }
    }
}
