@import '../../../../host/src/mixins.scss';
@import '../../../../host/src/variables.scss';

.wrapTopNavBlog.light {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--light-theme-text-color);
}

.wrapTopNavBlog.dark {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--dark-theme-text-color);
}