.wrapPeople.light {
    margin-top: 5px;  

    .borderWidgets {
        padding: 1px;
        border: 1px solid black;
        border-radius: 8px;
        // box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
        // background-color: #292929;
        background-color: var(--light-AppContent-background);
        .wrapTitleWidgets {
            height: 30px;
            border: 1px solid black;
            border-radius: 8px;
            margin-bottom: 2px;
            // box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            // background-color: #292929;
            background-color: var(--light-AppContent-background);
            h4 {
                margin-top: 6px;
                color: var(--light-theme-text-color);
                font-weight: 900;
                text-align: center;
            }
        }
        .widgetFriends {
            width: 100%;
            padding: 3px;
            // max-width: 200px;
            border: 1px solid black;
            border-radius: 8px;
            // box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            // background-color: #292929;
            background-color: var(--light-AppContent-background);
        }
    }
}

.wrapPeople.dark {
    margin-top: 5px;

    .borderWidgets {
        padding: 1px;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
        background-color: #292929;
        .wrapTitleWidgets {
            height: 30px;
            border: 1px solid black;
            border-radius: 8px;
            margin-bottom: 2px;
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            background-color: #292929;
            h4 {
                margin-top: 6px;
                color: var(--dark-theme-text-color);
                font-weight: 900;
                text-align: center;
            }
        }
        .widgetFriends {
            width: 100%;
            padding: 3px;
            // max-width: 200px;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            background-color: #292929;
        }
    }
}
