.shopPaginator {
    // width: 50%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    strong {
        padding: 5px;
        border: 1px solid #e2e2e2;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
    }
    .active {
        color: rgb(255, 172, 0);
        border: 1px solid rgb(255, 172, 0);
    }
}