@import '../../../../host/src/mixins.scss';
@import '../../../../host/src/variables.scss';

.wrapSecurityContainer.light {
    width: 100%;
    padding: 10px;

    .contentSecurity {
        width: 100%;
        padding: 10px;
        border: 1px solid #101010;
        min-height: 86vh;
    }
}

.wrapSecurityContainer.dark {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: wheat;

    .contentSecurity {
        flex: 1;
        width: 100%;
        padding: 10px;
        border: 1px solid #101010;
        min-height: 83vh;
        max-height: 100%;

        .thisDevice {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #101010;

            h3,
            h4 {
                text-align: center;
                color: #FFAC00;
            }

            h4 {
                cursor: pointer;
            }

            .device {
                padding: 10px;

                .deviceName {
                    width: 100%;
                    text-align: center;
                    // border: 1px solid #101010;
                }
            }
        }

        h1 {
            margin-bottom: 10px;
        }

        .wrapAllSessions {
            min-height: 40vh;
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
            @include custom-scrollbar();
            // border: 1px solid #101010;

            .wrapDevice {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #101010;
                margin-bottom: 10px;

                .wrapExit {
                    padding-top: 4.5%;
                    margin-left: auto;
                    color: #FFAC00;

                    // border: 1px solid #101010;
                    .iconInputOutput,
                    span {
                        cursor: pointer;
                    }

                    .iconInputOutput {
                        margin: auto 5px;
                    }

                    span {
                        margin-right: 10px;
                    }
                }

                .device {
                    width: 90%;
                    padding: 10px;

                    .deviceName,
                    .ip {
                        margin-bottom: 5px;
                    }

                    strong {
                        color: #FFAC00;
                    }
                }
            }
        }
    }
}