@import '../../../../host/src/mixins.scss';
@import '../../../../host/src/variables.scss';

.borderPosts {
    width: 100%;
    height: auto;

    .posts {
        // border: 1px solid red;
        margin: 0 auto;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        min-height: 60vh;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        @include custom-scrollbar();
    }

    .wrapBlockOfNoPosts {
        min-height: 58vh;
        display: flex;
        justify-content: center;
        /* Центрируем контент по горизонтали */
        align-items: center;

        /* Центрируем контент по вертикали */
        .blockOfNoPosts {
            text-align: center;
            /* Выравниваем текст заголовков по центру */
            border: 2px dashed #8a8a8a;
            padding: 15px;
            opacity: 0.5;

            h1 {
                color: #D55612;
            }

            h2 {
                color: #5B5B5B;
            }
        }
    }
}