.wrapLoginForm.light {
    display: flex;
    justify-content: center;
    width: 100%;
    h3 {
        margin-bottom: 5px;
        color: #e2e2e2;
    }
    span {
        color: #e2e2e2;
    }
    .wrapBottomBlockAuth {
        display: flex;
        justify-content: space-between;
    }

}
.wrapLoginForm {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #e2e2e2;
    h3 {
        margin-bottom: 5px;
        color: #e2e2e2;
    }
    span, strong {
        color: #e2e2e2;
    }
    .wrapBottomBlockAuth {
        display: flex;
        justify-content: space-between;
    }
    .wrapBottomBlockLoginForm {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        .noAkkauntBlock {
            // width: 50%;
            strong {
                margin-right: 15px;
            }
            a {
                color: #FEA930;
                .icon {
                    margin-right: 5px;
                    color: #FEA930;
                }
            }
        }
        .ressedPasswordBlock {
            // width: 50%;
            margin-left: auto;
            a {
                color: #FEA930;
            }
        }
    }
}