@import '../../host/src/mixins.scss';
@import '../../host/src/variables.scss';

.wrapRightSidebarMessage,
.wrapInterlocutors.light,
.wrapInterlocutors.dark {
    flex: 1;
    width: 100%;
    // padding: 5px 0 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0vh;
    max-height: 100%;
    // max-height: 81vh;
    @include custom-scrollbar();
    // outline: 1px solid rgb(255, 3, 3);
}

.yearLabel,
.dateLabel {
    margin-bottom: 5px;
    text-align: center;

    // outline: 1px solid red;
    .systemMsg {
        display: inline-block;
        margin: 0 auto;
        padding: 5px 10px 7px 6px;
        border-radius: 8px;
        border: 1px solid #3f3f3f;
    }
}

.messagesClass {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0px 5px;
    min-height: 72vh;
    max-height: 73vh;

    .wrapMessages {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        @include custom-scrollbar();
        // outline: 1px solid rgb(255, 3, 3);
    }

    // z-index: 9999;
    .wrapStartMessages {
        margin: 10px;

        // outline: 1px solid red;
        .wrapBlockOfNoPosts {
            // outline: 1px solid red;
            min-height: 58vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .blockOfNoPosts {
                text-align: center;
                border: 2px dashed #8a8a8a;
                padding: 15px;
                opacity: 0.5;

                h1 {
                    color: #D55612;
                }

                h2 {
                    color: #5B5B5B;
                }

                .strongInterlocutor {
                    color: #8a8a8a;
                }
            }
        }
    }
}

.wrapInputAddMessage {
    position: sticky;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 0 10px;
    border-top: 1px solid #3f3f3f;
    border-left: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    border-bottom: 3px solid black;
    box-shadow:
        0 0 0 1px rgb(0, 0, 0, 0.1),
        0 0 0 1px rgb(0, 0, 0, 0.1),
        0 0 0 3px rgb(0, 0, 0, 0.1);
    background-color: #282828;

    .wrapLeftBlockInputAddMessage {
        width: 5%;
        margin-top: auto;
        margin-bottom: 17px;
        padding: 0px 5px;
        font-size: 22px;
        color: wheat;
        cursor: pointer;
    }

    .wrapCentrBlockInputAddMessage {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 21px;

        // min-height: 30px;
        // border: 1px solid red;
        .SendOutlined {
            margin-top: auto;
            margin-bottom: 17px;
            color: wheat;
            cursor: pointer;
        }
    }

    .wrapRightBlockInputAddMessage {
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin-top: auto;
        margin-bottom: 17px;
        padding: 0px 5px;
        font-size: 21px;
        color: wheat;

        // border: 1px solid red;
        .FaRegSmile {
            margin: auto;
            font-weight: normal;
            cursor: pointer;
        }

        .AudioOutlined {
            font-weight: normal;
            cursor: pointer;
        }
    }
}