.avatar.light {
    .wrapAvatarBlock {
        .shahta_avatars {
            width: 100%;
            margin-bottom: 5px;
            padding: 6px;
            border: 1px solid black;
            border-radius: 8px;
            background: var(--light-Avatar-sahta-background);
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
            
            .podium_avatars {
                width: 100;
                // background-color: var(--light-Avatar-sahta-background);
                border-top: 1px solid #383838;
                border-left: 1px solid #383838;
                border-right: 1px solid #404040;
                border-bottom: 1px solid #000;
                border-radius: 8px;

                -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;

                box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
                box-shadow: -1px -1px 1px 1px #050505, 1px 1px 1px 1px #050505;
                .avatarImage {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        
        }
    }
    .wrapAvatarBlock:hover {
        .editBlockAvatar {
            display: flex;
            justify-content: space-between;
            padding: 15px 3px 15px;
            width: 90%;
            height: 40px;
            background-color: rgba(0,0,0,0.9);
            position: relative;
            top: -57px;
            left: 10px;
            color: #7F7F7F;
            cursor: pointer;
            z-index: 9999;
            .editTheAvatar {
                display: block;
                margin-left: auto;
                margin-top: -5px;
                width: 20px;
                height: 20px;
            }
            .cameraEditAvatar {
                display: block;
                z-index: 9999;
            }
            .textUploadAvetar {
                display: block;
                margin-left: auto;
            }
        }
    }
}

.avatar.dark {
    .wrapAvatarBlock {

        .shahta_avatars {
            width: 100%;
            margin-bottom: 5px;
            padding: 6px;
            background-color: #413f3f;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
            background-color: #292929;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
            .podium_avatars {
                width: 100;
                background-color: rgba(35, 35, 35, 0.9);
                border-top: 1px solid #383838;
                border-left: 1px solid #383838;
                border-right: 1px solid #404040;
                border-bottom: 1px solid #000;
                border-radius: 8px;
                -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
                box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
                box-shadow: -1px -1px 1px 1px #050505, 1px 1px 1px 1px #050505;
                .avatarImage {
                    width: 100%;
                    border-radius: 8px;
                }
            }
        
        }
    }
    .wrapAvatarBlock:hover {
        .editBlockAvatar {
            display: flex;
            justify-content: space-between;
            padding: 15px 3px 15px;
            width: 90%;
            height: 40px;
            background-color: rgba(0,0,0,0.9);
            position: relative;
            top: -57px;
            left: 10px;
            color: #7F7F7F;
            cursor: pointer;
            z-index: 9999;
            .editTheAvatar {
                display: block;
                margin-left: auto;
                margin-top: -5px;
                width: 20px;
                height: 20px;
            }
            .cameraEditAvatar {
                display: block;
                z-index: 9999;
            }
            .textUploadAvetar {
                display: block;
                margin-left: auto;
            }
        }
    }
}
.editTheAvatar {
    display: none;
}
.cameraEditAvatar {
    display: none;
}
.textUploadAvetar {
    display: none;
}	
