.wrapPlayer {
    width: 40%;
    width: 100%;
    margin: 4px auto;
    height: 253px;
    background-color: #282828;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 5555;
    .wrapTickerPlayer {
        padding: 1px 6px;
        height: 28px;
        border-top: 1px solid #404040;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #252525), color-stop(1.5, #080808)); /* ДЛЯ ХРОМА */
        box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
        box-shadow: 0 0 10px 1px black;
        border-bottom: 1px solid #000000;
        z-index: 9999;
        .tickerPlayer {
            margin: 2px;
            height: 19px;
            color: aqua;
            padding: 3px 0px;
            border: 1px solid #000;
            border-radius: 8px;
            background-color: rgba(35, 35, 35, 0.9);
            font-size: 12px;
            z-index: 9999;
        }
        
        .running-text-container {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }
        
        .running-text {
            display: inline-block;
            animation: runningText 50s linear infinite;
        }
        
        @keyframes runningText {
            0% { transform: translateX(100%); }
            100% { transform: translateX(-100%); }
        }
    }
    .wrapWisualBlockPlayer{
        width: 100px;
        border: 1px solid red;
        height: 183px;
        display: flex;
        justify-content: left;
        .canvas {
            width: 100px;
            border: 1px solid red;
        }
    }
    .wrappPlayBar {
        margin-top: 33px;
        height: 40px;
        width: 100%;
        background-color: rgba(35, 35, 35, 0.9);
        border-top: 1px solid #717171;   
        box-shadow: 0 0 10px -1px black;
        border-bottom: 2px solid #000000;
        z-index: 9999;
        .wrapInputTrackProgressLength {
            margin-top: -10px;
            input[type=range] {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 3px;
                background-color: aqua;
                border-radius: 5px;
                outline: none;
                // opacity: 0.7;
                transition: opacity .2s;
                z-index: 9999;
            }
              
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 8px;
                height: 15px;
                background-color: aqua;
                cursor: pointer;
                border-radius: 8px;
                z-index: 9999;
            }
            
            input[type=range]:hover {
                opacity: 1;
            }
            .inputTrackProgressLength {
                margin: 0 0 0 -1px;
                width: 100%;
                z-index: 9999;
            }
        }
        .playBar {
            height: 40px;
            width: 100%;
            border-top: 1px solid #404040;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.03, #252525), color-stop(1.5, #080808) ); /*ДЛЯ ХРОМА*/
            box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
            box-shadow: 0 0 10px 1px black;
            border-bottom: 2px solid #000000;
            z-index: 9999;
            .playerButtonPanel {
                display: flex;
                justify-content: space-between;
                margin: 2px 5px;
            }
            .wrapPlayerButton {
                .playerButton {
                    margin-top: 2px;
                    padding: 4px;
                    width: 25px;
                    height: 25px;
                    background-color: #282828;
                }
                .iconPlayPause {
                    margin-right: 15px;
                    color: aqua;
                }
                .iconStopMusic {
                    color: aqua;
                    // background-color: aqua;
                    // border: 1px calc(-1) solid #282828;
                }

            }
            .trackProgressNumberLength {
                margin-top: 8px;
                margin-left: auto;
                color: aqua;
                width: auto;
                z-index: 9999;
            }
            .wrapInputTrackProgressVolume {
                margin-left: auto;
                display: flex;
                justify-content: space-between;
                width: 150px;
                .wrapIconsPlayerVolume {
                    width: 20px;
                    height: 100%;
                    padding-top: 9px;
                    padding-left: 5px;
                    // outline: 1px solid red;
                }
                .iconPlayerVolumeActive {
                    color: aqua;
                }
                .iconPlayerVolumeNone {
                    color: red;
                }
                .inputTrackProgressVolume {
                    margin: 15px auto;
                    justify-content: center;
                }
                
                .trackProgressNumberVolume {
                    width: 30px;
                    height: 100%;
                    padding-top: 8px;
                    // outline: 1px solid red;
                    cursor: pointer;
                    color: aqua;
                }
                input[type=range] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 50%;
                    height: 3px;
                    background-color: aqua;
                    border-radius: 5px;
                    outline: none;
                    // opacity: 0.7;
                    transition: opacity .2s;
                    z-index: 9999;
                }
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 8px;
                    height: 15px;
                    background-color: aqua;
                    cursor: pointer;
                    border-radius: 8px;
                }
                input[type=range]:hover {
                    opacity: 1;
                }
            }
        }
    }
}



