.wrapUsersItem.light {
    margin: 3px;
    padding: 5px;
    width: 99%;
    border: 1px solid black;
    .usersItem{
        display: flex;
        height: 80px;
        .wrapUserBlock_1 {
            width: 30%;
            height: 100px;
            .wrapUsersAvatar {
                width: 60px;
                .usersAvatar {
                    margin-bottom: 5px;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                }
            }
        }
        .userData {
            text-align: left;
            .wrapUserBlock_2 {
                width: 160px;
                margin-top: 10px;
                p {
                    text-align: left;
                    font-size: 16px;
                }
                .userName {
                    display: inline;
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
            .userFamilyStatus {
                width: 380px;
                margin-top: -15px;
                p {
                    font-size: 16px;
                    margin: 20px 0 0 0px;
                    color: #D55612;
                }
            }
        }
    }
    .wrapAllButton {
        display: flex;
        justify-content: space-between;
        .wrapButton {
            margin-top: 5px;
            width: 100%;
            .btnFriendsTrue {
                width: 100%;
                padding: 5px;
                border-radius: 8px;
                background-color: #454545;
                color: var(--main-text-color);
            }
        }
        .wrapBtnMsg {
            margin: 5px 0 0 15px;
            width: 100%;
            .btnFriendsMessage {
                width: 100%;
                padding: 5px;
                border-radius: 8px;
                background-color: #454545;
                color: var(--main-text-color);
            }
        }
    }
}
.wrapUsersItem.dark {
    margin: 3px;
    padding: 5px;
    width: 99%;
    border: 1px solid black;
    .usersItem{
        display: flex;
        width: 100%;
        height: 80px;
        .wrapUserBlock_1 {
            margin: 10px 10px 0 0;
            height: 100px;
            .wrapUsersAvatar {
                width: 60px;
                .usersAvatar {
                    margin-bottom: 5px;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                }
            }
        }
        .userData {
            text-align: left;
            .wrapUserBlock_2 {
                width: 100%;
                margin-top: 10px;
                p {
                    text-align: left;
                    font-size: 16px;
                }
                .userName {
                    display: inline;
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
            .userFamilyStatus {
                // width: 380px;
                margin-top: -15px;
                p {
                    font-size: 16px;
                    margin: 20px 0 0 0px;
                    color: #D55612;
                }
            }
        }
    }
    .wrapAllButton {
        display: flex;
        justify-content: space-between;
        .wrapButton {
            margin-top: 5px;
            width: 100%;
            .btnFriendsTrue {
                width: 100%;
                padding: 5px;
                border-radius: 8px;
                background-color: #454545;
                color: var(--main-text-color);
            }
        }
        .wrapBtnMsg {
            margin: 5px 0 0 15px;
            width: 100%;
            .btnFriendsMessage {
                width: 100%;
                padding: 5px;
                border-radius: 8px;
                background-color: #454545;
                color: var(--main-text-color);
            }
        }
    }
}

.wrapUsersItem.light:hover {
    background-color: #fff;
}
.wrapUsersItem.dark:hover {
    background-color: #656565;
}